.example-card {
  max-width: 300px;
  margin: 20px;
  float: left;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

button {
  float: left;
}
